%section
  %h2 Edit
  = form_for(@user) do |f|
    = f.label         :name
    = f.text_field    :name
    = f.label         :location
    = f.text_field    :location
    = f.label         :occupation
    = f.text_field    :occupation
    %p= f.label       :avatar
    = f.file_field    :avatar
    %br
    %br
    = f.submit 'Save', class: 'button button-primary'
